@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  /* background-color: blue; */
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.main {
  position: relative;
  height: 100%;
  width: 100%;

}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  /* background-image: url('/src/images/samuel-cruz-TPD1WXQIfzc-unsplash.jpg'); */
  background-position: center;
  background-size: cover;
  filter: grayscale(.5) brightness(.7) contrast(2);
  width: 100%;
  height: 100%;
  z-index: -1;
}


.skidsteer {
  background-image: url('/src/images/samuel-cruz-TPD1WXQIfzc-unsplash.jpg');
}

.gravel {
  background-image: url('/src/images/nadin-mario-_OUi6HxZ8aY-unsplash.jpg');
} 
  .excavator {
    background-image: url('/src/images/sitraka-tDxAniAxjYk-unsplash.jpg');
  }
  .calendar {
    background-image: url('/src/images/eric-rothermel-FoKO4DpXamQ-unsplash.jpg');
  }
  .code {
    background-image: url('/src/images/safar-safarov-koOdUvfGr4c-unsplash.jpg');
  }
  .phone {
    background-image: url('/src/images/miryam-leon-Jdpvhn6xA0w-unsplash.jpg');
  }

.fade-background {
  filter: grayscale(.5) brightness(.6) contrast(2);

}

.spacer {
  height: 75px;
}

.full-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 98;
  pointer-events: none;
}

.navigation {
  position: relative;
  height: 100%;
  width: 100%;
}

.navigation-fade {
  background-color: #0008;
}

.block {
  position: absolute;
  /* background-color: #000; */
}

.block1 {
  /* background-color: #f003; */
  height: 100%;
  width: 580px;
  overflow: hidden;
  background: 
  linear-gradient(60deg, #000 400px, transparent 400px, transparent 410px, #000 410px, #000 440px, transparent 440px, transparent 450px, #000 450px, #000 470px, transparent 470px, transparent 480px, #000 480px, #000 490px, transparent 490px, transparent 500px, #000 500px, #000 505px, transparent 505px);
  z-index: 97;
}

.block1-down {
  transform: translate(-100%, 100%);
  transition: 200ms ease;
}

.block1-up {
  transform: translate(0, 0);
  transition: 200ms ease;
}

.nav-menu {
  margin-top: auto;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  pointer-events: all;
}

.nav-menu ul {
  width: 100%;
  list-style-type: none;
  margin-bottom: 30px;
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: white; */
}

.nav-menu ul li {
  width: 100%;
  
 
}

.nav-menu ul li a {
  text-decoration: none;
  /* color: #f00; */
  font-family: "Archivo Narrow";
  font-size: 60px;
  font-weight: 600;
  margin-left: 30px;
  color: #fff;
}

.nav-menu ul li:hover a {
  color: #000;
}

.nav-menu ul li:nth-of-type(1) {
  width: 380px;
}

.nav-menu ul li:nth-of-type(1):hover{
  /* width: 100%; */
  background: 
  linear-gradient(60deg, white 224px, transparent 224px, transparent 233px, white 233px, white 263px, transparent 263px, transparent 273px, white 273px, white 294px, transparent 294px, transparent 302px, white 302px, white 314px, transparent 314px, transparent 322px, white 322px, white 328px, transparent 328px);
} 

.nav-menu ul li:nth-of-type(2) {
  width: 430px;
}

.nav-menu ul li:nth-of-type(2):hover{
  /* width: 100%; */
  background: 
  linear-gradient(60deg, white 264px, transparent 264px, transparent 273px, white 273px, white 304px, transparent 304px, transparent 314px, white 314px, white 334px, transparent 334px, transparent 344px, white 344px, white 354px, transparent 354px, transparent 363px, white 363px, white 370px, transparent 370px);  
} 

.nav-menu ul li:nth-of-type(3) {
  width: 475px;
}

.nav-menu ul li:nth-of-type(3):hover{
  /* width: 100%; */
  background: 
  linear-gradient(60deg, white 304px, transparent 304px, transparent 313px, white 313px, white 344px, transparent 344px, transparent 353px, white 353px, white 374px, transparent 374px, transparent 383px, white 383px, white 394px, transparent 394px, transparent 403px, white 403px, white 409px, transparent 409px);  
} 

.nav-menu ul li:nth-of-type(4) {
  width: 520px;
}

.nav-menu ul li:nth-of-type(4):hover{
  /* width: 100%; */
  background: 
  linear-gradient(60deg, white 344px, transparent 344px, transparent 353px, white 353px, white 384px, transparent 384px, transparent 394px, white 394px, white 414px, transparent 414px, transparent 424px, white 424px, white 434px, transparent 434px, transparent 444px, white 444px, white 449px, transparent 449px);  
} 

.nav-menu ul li:nth-of-type(5) {
  width: 570px;
}

.nav-menu ul li:nth-of-type(5):hover{
  /* width: 100%; */
  background: 
  linear-gradient(60deg, white 385px, transparent 385px, transparent 394px, white 394px, white 426px, transparent 426px, transparent 434px, white 434px, white 455px, transparent 455px, transparent 464px, white 464px, white 475px, transparent 475px, transparent 484px, white 484px, white 490px, transparent 490px);  
} 

.nav-menu ul li:hover a{
  color: #000;
  
}

/* @media (orientation: landscape) {

  header h1 {
    font-size: 50px;
    margin-right: 140px;
  }

  .block1-down {
    transform: translate(-100%, 100%) rotate(-45deg);
    transition: 500ms ease;
  }
  
  .block2-down {
    transform: translate(-100%, 100%) rotate(-45deg);
    transition: 600ms ease;
  }

  .block4-down {
    transform: translate(-100%, 100%) rotate(-45deg);
    transition: 700ms ease;
  }
 
  .block1-up {
    transform: translate(100px, -100px) rotate(-45deg);
    transition: 500ms ease;
  }
  
  .block2-up {
    transform: translate(850px, -250px) rotate(-45deg);
    transition: 600ms ease;
  }
  
  .block4-up {
    transform: translate(250px, -450px) rotate(-45deg);
    transition: 700ms ease;
  }

} */

header {
  height: 75px;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .spacer {
  width: 50px;
  margin-left: 2%;
  /* background-color: red; */
}

.header-border {
  border-bottom: 1px solid white;
}

header h1 {
  font-size: 30px;
  font-family: "Archivo Narrow";
  font-weight: 700;
  flex-shrink: 0;
}

header h2 {
  font-size: 25px;
  font-family: "Archivo Narrow";
  font-weight: 500;
  width: 50px;
  height: 50px;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

header h2 span {
  position: absolute;
  font-size: 16px;
}


.block-button {
  height: 50px;
  aspect-ratio: 1/1;
  margin-right: 2%;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font-size: 30px;
  pointer-events: all;
  flex-shrink: 0;

}

.block-button:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.block-button:active {
  border: none;
  font-size: 25px;
}

@media (orientation: portrait) {
  header .spacer {
    width: 0;
    margin: 0;
  }
}


.sp-1 {
  transform: translate(-13px, -10px);
  font-size: 30px;
}

.sp-2 {
  transform: translate(13px, 10px);
  font-size: 30px;

}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  position: relative;
  z-index: 99;
  /* height: 100%; */
  /* width: 100%; */

}

.nav-menu-up li:nth-of-type(1){
  transform: translateY(0);
  transition: transform 500ms 300ms ease;
}

.nav-menu-up li:nth-of-type(2){
  transform: translateY(0);
  transition: transform 400ms 225ms ease;
}

.nav-menu-up li:nth-of-type(3){
  transform: translateY(0);
  transition: transform 300ms 150ms ease;
}

.nav-menu-up li:nth-of-type(4){
  transform: translateY(0);
  transition: transform 200ms 75ms ease;
}

.nav-menu-up li:nth-of-type(5){
  transform: translateY(0);
  transition: transform 100ms ease;
}

.nav-menu-down li:nth-of-type(1){
  transform: translateY(520%);
  transition: transform 300ms ease;
}

.nav-menu-down li:nth-of-type(2){
  transform: translateY(420%);
  transition: transform 225ms ease;
}

.nav-menu-down li:nth-of-type(3){
  transform: translateY(320%);
  transition: transform 150ms ease;
}

.nav-menu-down li:nth-of-type(4){
  transform: translateY(220%);
  transition: transform 75ms ease;
}

.nav-menu-down li:nth-of-type(5){
  transform: translateY(150%);
  transition: transform 0ms ease;
}

.site-credits {
  position: relative;
  z-index: 97;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #0008; */
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.website-credit {
  background-color: #000e;
  width: 350px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #aaa;
  box-shadow: 6px 6px 10px 0 #000a;
  border-radius: 5px;
}

.image-credits {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  
}

.image-credits h2 {
  width: 100%;
}

.credit {
  border: 2px solid #aaa;
  width: 170px;
  padding: 20px;
  background-color: #fff2;
  margin: 5px;
  border-radius: 5px;
}

.credit p {
  margin-bottom: 5px;
}

.credit a {
  color: #aaa;
  text-decoration: none;
}

.credit a:hover {
  color: #ffc;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #0008;
}

.home span {
  color: #f66;
}

.home img {
  width: 50%;
  max-width: 400px;
  margin: 30px;
  object-fit: cover;
  background-color: #fefefe;
  border-radius: 250px;
  border: 5px solid #000;
  box-shadow: 6px 6px 10px 0 #000a;


}

.home p {
  background-color: #000c;
  color: #fff;
  width: 90%;
  max-width: 500px;
  /* margin: 0 20px; */
  padding: 30px;
  line-height: 1.5;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 6px 6px 10px 0 #000a;


}

.services {
  /* height: 100vh; */
  width: 100%;
  /* overflow-y: scroll; */
  background-color: #000a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-direction: ; */
  /* margin: 10px; */
  font-family: 'Archivo Narrow';
}

.services h2 {
  margin-top: 30px;
  /* margin-bottom: 10px; */
  font-size: 30px;
}

.service {
  background-color: #000c;
  width: 90%;
  max-width: 700px;
  margin-top: 30px ;
  padding: 15px;
  padding-top: 0;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0 #000a;
  border: 1px solid #888;
}

.service h3 {
  background-color: #fff;
  width: fit-content;
  transform: translate(-25px, -10px);
  color: #000;
  padding: 2px;
  border-radius: 2px;
}

.services p {
  font-size: 18px;
  text-align: justify;
}

.contact-us {
  text-align: center;
  padding: 10px;
}

.contact-us p:nth-of-type(1){
  display: inline;
}

.contact-us p:nth-of-type(2){
  text-align: center;
}

.contact-us a {
  text-decoration: none;
  font-size: 18px;
  color: #aaa;
}

.contact-us a:hover {
  color: #ffc;
}

.services div:nth-of-type(9) {
  height: 50px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.gmap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gmap iframe {
  margin: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 6px 10px 0 #000a;

}

.contact {
  width: 100%;
}

.contact-info {
  background-color: #efefef;
  text-align: center;
  width: 87%;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 6px 6px 10px 0 #000a;

}

.contact-info h3:first-of-type {
  display: inline;
}

.contact-info a:first-of-type {
  display: block;
  margin-bottom: 20px;
}

.contact-info p:first-of-type {
  display: inline;
}
