@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  /* background-color: blue; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;

}

.main-background {
  position: absolute;
  background-image: url('/public/images/samuel-cruz-TPD1WXQIfzc-unsplash.jpg');
  background-position: center;
  background-size: cover;
  filter: grayscale(.5) brightness(.8) contrast(2);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fade-background {
  filter: grayscale(.5) brightness(.6) contrast(2);
}

.full-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.navigation {
  position: relative;
  height: 100%;
  width: 100%;

}

.block-button {
  height: 50px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
  margin: 20px;
  margin-right: 2%;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font-size: 30px;
}

.block-button:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.block-button:active {
  border: none;
  font-size: 25px;
}

.block {
  position: absolute;
  background-color: #000;
  height: 2000px;
  z-index: -1;
}

.block1 {
  width: 700px;
}

.block2 {
  width: 100px;
}

.block3 {
  width: 50px;
}

.block1-down {
  transform: translate(-100%, 100%) rotate(-45deg);
  transition: 500ms ease;
}

.block2-down {
  transform: translate(-100%, 100%) rotate(-45deg);
  transition: 600ms ease;
}

.block3-down {
  transform: translate(-100%, 100%) rotate(-45deg);
  transition: 700ms ease;
}

.block1-up {
  transform: translate(0, 0) rotate(-45deg);
  transition: 500ms ease;
}

.block2-up {
  transform: translate(300px, -600px) rotate(-45deg);
  transition: 600ms ease;
}

.block3-up {
  transform: translate(570px, -500px) rotate(-45deg);
  transition: 700ms ease;
}

header {
  height: 10vw;
  min-height: 75px;
  max-height: 120px;
  width: 100%;
  /* text-align: center; */
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-border {
  border-bottom: 1px solid white;
}

header h1 {
  font-size: 5vw;
  font-family: "Archivo Narrow";
  font-weight: 700;
  margin-right: 100px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  z-index: 99;
}

@media (orientation: landscape) {
  header {

  }

  header h1 {
    font-size: 50px;
    margin-right: 140px;
  }
}